<% if signed_in? %>
  <div class="row">
    <aside class="large-6 columns">
	I'm the "Dashboard"
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
	<hr />
	
<section>
	<a href="#" data-reveal-id="addBottle" class="small radius success button">Add Bottle</a>
</section>
	
     
    </aside>
    <div class="large-6 columns">
      <h3>Bottle Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>  



	<div id="addBottle" class="reveal-modal">
	  <h3>Add Bottle</h3>
      <%= render 'shared/bottle_form' %>
	    <a class="close-reveal-modal">&#215;</a>
	</div>




<% else %>
  <div class="center hero-unit">
    
    <%= link_to "Sign up now!", signup_path, 
                                class: "small radius button secondary" %>
  </div>

<% end %> 