<li class="th">                                                
  <span class="title"><%= bottle.vintage %>: <%= bottle.title %></span><br />
  <span class="producer"><%= bottle.producer %></span>
<hr />
  <span class="content"><%= bottle.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(bottle.created_at) %> ago.
  </span>
  <% if current_user?(bottle.user) %>

	<hr />
    <%= link_to "delete", bottle, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: bottle.content %>
  <% end %>
</li>