<li>  

<div class="panel-bottle">   


                                           
  <span class="title"><small><%= bottle.vintage %></small><br /> <%= bottle.title %></span><br />
  <span class="producer"><%= bottle.producer %></span>




  <p class="content"><%= bottle.content %></p>
  <span class="timestamp">
    Posted <%= time_ago_in_words(bottle.created_at) %> ago.
  </span>
  <% if current_user?(bottle.user) %>
	<br />
 <%= link_to "x", bottle, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: bottle.content%>
  <% end %>
	<hr />

</div>
</li>