<% provide(:title, @user.name) %>

<div class="row">
  <aside class="large-4 columns panel">

<div class="row">
<div class="large-4 columns">
	<div class="circular">
	  <%= gravatar_for @user, size: 90%><br />
		<a href=""><%= @user.handle %></a>
	</div>
</div>

<div class="large-8 columns">

    <%= @user.name %>
    <p><%= @user.bio %></p>
</div>
</div>
	


    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>



  <div class="large-8 columns">
    <%= render 'follow_form' if signed_in? %>
    <% if @user.bottles.any? %>
      <h3>Bottles (<%= @user.bottles.count %>)</h3>
      <ul class="small-block-grid-2 large-block-grid-3">
        <%= render @bottles %>
      </ul>
      <%= will_paginate @bottles %>
    <% end %>
  </div>
</div>