<div id="<%= feed_item.id %>" class="row">
        <div class="small-3 large-2 columns">
			<%= link_to image_tag("bottle-tiny-50X50.png", alt: "Open Vintage", class: "radius th"), '#' %>
		</div>
        <div class="small-9 large-10 columns">
			<strong><%= feed_item.vintage %>: <%= feed_item.title %></strong> - <%= feed_item.content %>
			
			<hr />
			
			<span class="timestamp">
		      Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
		    </span>

          <ul class="inline-list">
            <li><a href=""><%= link_to feed_item.user.name, feed_item.user %></a></li>
			<li><% if current_user?(feed_item.user) %>
			    <%= link_to "[x]", feed_item, method: :delete,
			                                     data: { confirm: "Ur darn tooin right?" },
			                                     title: feed_item.content %>
			  <% end %></li>
          </ul>

        </div>


      </div>

		<hr />