<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
<%= link_to image_tag("logo-small-50X50.png", alt: "Open Vintage"), '#' %>
      <h1><a href="#"><%= link_to "Open Vintage", root_path %></a></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <li class="divider"></li>
    </ul>


	<% if signed_in? %>
	<ul class="right">
	
	<li class="divider hide-for-small"></li>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Users", users_path %></li>
    <li><%= link_to "Help", help_path %></li>
    
          <li class="has-dropdown">
              <a href="#">
                  <%= render 'shared/user_gravatar' %>
              </a> 
              <ul class="dropdown">
                 <li><%= link_to "Profile", current_user %></li>
		          <li><%= link_to "Settings", edit_user_path(current_user) %></li>
		          <li class="divider"></li>
		          <li>
		            <%= link_to "Sign out", signout_path, method: "delete" %>
		          </li>
             </ul>
         </li>
       </ul>
    <% else %>
      <li><%= link_to "Sign in", signin_path %></li>
    <% end %>


   
  </section>
</nav>


